.container-img {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.container-img img {
    width: 300px;
    height: 300px;
}

.container-p {
    padding: 30px;
}

.video-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.video {
    width: 500px;
    height: 800px;
}

/* @media only screen and (max-width: 800px) {
    .container-img {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .container-img img {
        width: 200px;
        height: 200px;
    }
} */