.container-contact {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 20px;
}

.container-contact h2 {
    font-size: 50px;
    font-weight: 200;
}

.datos {
    display: flex;
    flex-direction: column;
}

.datos h2 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 20px !important;
}

.direccion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direccion p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.direccion img {
    width: 100%;
    height: 500px;
    margin: auto;
}

input, select{
    border-radius: 5px;
    border-color: #cbcbcb;
    height: 30px;
    margin-top: 10px;
    box-shadow: none;
}

.item-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 15px;
}

.container-form {
    width: 50%;
}

.container-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-radios {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio {
    display: flex;
    align-items: center;

}
.container-radios input {
    margin-right: 7px;
}

.container-btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar {
    background-color: #171717;
    color: #fff;
    padding: 6px 40px;
}

section.redes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 30px 20px;
}

section.redes h2 {
    font-size: 40px;
}
.container-redes {
    display: flex;
    align-items: center;
    gap: 50px;
}

.container-redes li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-redes li a{
    color: rgb(27, 69, 218);
    font-size: 40px;
    text-decoration: underline;
}
.container-redes li a:hover{
    color: rgb(15, 45, 153);
    font-size: 40px;
    text-decoration: underline;
}

.redes li img {
    width: 100px;
    height: 100px;
}



/* @media only screen and (max-width: 1000px) {
    .direccion img {
        height: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .container-contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .container-form, .direccion, .item-form, .container-btn{
        width: 100%;
    }

    .container-btn{
        margin-bottom: 50px;
    }
    .direccion img {
        height: 340px;
    }
    
} */